[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
python-dotenv = "*"
werkzeug = "==0.16.1"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
